rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/books/{document=**}{
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/pupils/{document=**}{
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/loans/{document=**}{
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}