/* Footer */

footer {
  position: relative;    
  color: rgba(36,36,36,0.588);
  font-size: 1em;
  line-height: 1.625;
  font-weight: 300;
}
footer ul {
  list-style: none;    
  font-size: 2em;
}
footer li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0.75rem;
}
footer li a {
  border-radius: 100%;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer li a svg {
  width: 100%;
  height: 100%;
  transition: fill 0.25s ease;    
  fill: rgba(36,36,36,0.588);   
  display: block;
  position: relative;
}