/* Home page */

img.app-logo {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    display: inline-block;
  
    @media (max-width: 544px) {  
      width: 4rem;
      height: 4rem;
    }
  }
  span.brand {
    text-transform: uppercase;
    color: $primaryColor;
    letter-spacing: 0.3rem;
    font-weight: 900;
    font-size: 3.4em;
    display: inline-block;
  
    @media (max-width: 544px) {  
        font-size: 2.5em;
    }
  }
  h1 {    
    line-height: 1.4;
    letter-spacing: -0.035;
  
    @media (max-width: 544px) {  
        font-size: 1.5rem;
    }
  }
  h2 {    
    color: rgba(36,36,36,0.588);
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 2rem;
    letter-spacing: -0.035;
  
    @media (max-width: 544px) {  
        font-size: 1em;
    }
  }
  a.download {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }